node_modules
.next
*.tsbuildinfo
.git
.gitignore
.vscode
venv
.env
.env.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Exclude unrelated directories to keep docker build context small
backend
infrastructure
k8s
supabase
docs
